<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Chrome, Firefox OS, Opera and Vivaldi -->
    <meta name="theme-color" content="#a74405">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#a74405">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#a74405">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="./css/angular-material.min.css" media="screen">
    <link rel="stylesheet" href="./css/style.css" media="screen" title="no title">

</head>

<body ng-app="AngularMaterialApp" layout="column" ng-cloak ng-controller="AppController">
    <!-- Body Content -->
    <md-toolbar layout="row" class="md-toolbar-tools">
        <md-button class="menu md-icon-button" hide-gt-sm ng-click="toggle()" aria-label="Show User List">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>MagicMaterialApp</h1>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" ng-click="toggle()">
        </md-sidenav>

        <md-content flex id="content">
            <div>
                <md-button ng-click="openToast()">OpenToast</md-button>
            </div>
            <!--
            <md-calendar ng-model="birthday">
            </md-calendar>
            -->
            <md-card>
                <md-card-content>
                    <h2>Card headline</h2>
                    <p>Card content</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>

            <md-card>
                <md-card-content>
                    <h2>Card headline</h2>
                    <p>Card content</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>

            <md-card>
                <md-card-content>
                    <h2>Card headline</h2>
                    <p>Card content</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>

            <md-card>
                <md-card-content>
                    <h2>Card headline</h2>
                    <p>Card content</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>

            <md-card>
                <md-card-content>
                    <h2>Card headline</h2>
                    <p>Card content</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
        </md-content>
    </div>
    <!-- Prepear angular modules -->
    <script type="text/javascript" src="./js/angularDist.js"></script>
    <!-- Application bootstrap  -->
    <script type="text/javascript" src="./src/appDist.js"></script>

</body>

</html>
